* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif, Arial;
	/*color: rgb(18, 39, 132);*/
	font-weight: 100;
}
li {
	list-style: none;
	margin-top: 10px;
}

h1	{
	display: block;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 6em;
	font-size: calc(4vw + 4vh + 2vmin);

}
.container {
	display: block;
	height: 100vh;
	width: 100vw;
}

.padding-20{
	padding:20px; 
}
.main-view {
	display: flex;
	height: 100vh;
	width: 100vw;
}
.side-view {
	display: none;
	height: 100vh;
	width: auto;
}
.menu-open {
	display: block;
}
.contact{
	font-size: 1.5em;
	position: fixed;
    bottom: 2em;
}
.headingbox {
	min-width: 80%;
	margin: 1em;
}
.square-content {
	align-items: center;
	justify-content: center;
}

.redColour{
	color: rgb(238, 6, 59);
}
.blueColour{
	color: rgb(18,39,132);
}
.greentext {
	color: rgb(41,162,80);
}
.nav_link {
	/*background: #e84635;*/
	color: rgb(18,39,132);
	font-size: 1.5rem;
}
.visit_project {
	display: flex;
	/*text-transform: uppercase;*/
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 1.5em;
    /*background: #e84635;*/
    border: 1px solid black;
    margin-top: 2.5rem;
   /* color: rgb(248, 228, 1);*/
}
.nav_header {
	font-style: italic;
	font-weight: 400;
}
.green {
	background: rgb(41, 162, 80);

}
.yellow {
	background: rgb(248, 228, 1);
}
.blue {
	background: rgb(18, 39, 132);
	color: #fff;
}
@media (min-width: 768px)	{
	.container {
		display: flex;

	}
	.main-view {
		width: 67vw;
		border-bottom: none;
	}
	.side-view {
		display: block;
		width: 33vw;
		border-left: 5px dotted black;
	}
}