* {
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	font-family: Arial;
	color: rgb(18, 39, 132);
	font-weight: 100;
}
li {
	list-style: none;
}

h1	{
	display: block;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 6em;
	font-size: calc(4vw + 4vh + 2vmin);

}
.container {
	height: 100vh;
	width: 100vw;
	display: flex;
}
.small-container {
	/*display: inline;*/
	height: 100vh;
	width: 33vw;
	border-left: 5px dotted black;
}
.padding-20{
		padding:20px; 

}
.main {
	display: flex;
	height: 100%;
	width: 66%;
}
.two-thirds {
	height: 100%;
/*	width: 33%;*/
}
.one-third {
	height: 34%;
}
.headingbox {
	margin: 1em;
}
.square-content {
  align-items: center;
  justify-content: center;
}
.red {
	background: rgb(238, 6, 59);
	color: rgb(18, 39, 132);
}
.green {
    background: rgb(41, 162, 80);
    color: #f58b57;
}
.yellow {
	background: rgb(248, 228, 1);
}
.blue {
	background: rgb(18, 39, 132);

	color: #fff;
}
.redColour{
	color: rgb(238, 6, 59);
}
.bluetext{
	color: rgb(18,39,132);
}
.greentext {
	color: rgb(41,162,80);
}
.nav_link {
	vertical-align: baseline;
	text-decoration: none;
	display: block;
	background: #e84635;
	min-width: 200px;
	color: rgb(18,39,132);
	width: auto;
	min-height: 50px;
	height: auto;
	margin: 5px;
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
}

/*.top {
	display: flex;
	justify-content: flex-end;
	min-height: 30vh;
	height: auto;
	width: 100%;
	padding: 2vw;
	background: #1f7dfa;
}

.middle {
	min-height: 40vh;
	height: auto;
	background: #06c7a0;
	width: 100%;
	padding: 2vw;
	
}
.bottom {
	min-height: 30vh;
	height: auto;
	width: 100%;
	padding: 2vw;
	background: #d019c5;
}

