* {
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	font-family: Arial;
}
li {
	list-style: none;
}

h1	{
	font-family: Arial;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 6em;
	font-size: calc(4vw + 4vh + 2vmin);

}
.top {
	display: flex;
	justify-content: flex-end;
	min-height: 30vh;
	height: auto;
	width: 100%;
	padding: 2vw;
	background: #1f7dfa;
}

.middle {
	min-height: 40vh;
	height: auto;
	background: #06c7a0;
	width: 100%;
	padding: 2vw;
	
}
.bottom {
	min-height: 30vh;
	height: auto;
	width: 100%;
	padding: 2vw;
	background: #d019c5;
}

.nav_link {
	vertical-align: baseline;
	text-decoration: none;
	/*display: block;*/
	background: #e84635;
	min-width: 200px;
	width: auto;
	min-height: 50px;
	height: auto;
	margin: 5px;
	/*padding: 0.5rem 1rem;*/
	font-size: 1.5rem;
}
