.header {
  color: #7B8AFF;
  padding: 50px 0px 25px 0px;
  text-align: center;
}

.nav {
  border: 5px solid #C8CEFF;
  text-align: center;
  margin-left: 25px;
  padding-top: 10px;
  font-size: 2em;
}

.nav ul,
a:link {
  background-color: transparent;
  list-style: none;  
  margin-left: auto;
  text-decoration: none;
}
.nav ul a:hover {
  font-style: oblique;     
}

.container {
  background-color: #FFF7E2;
  padding-bottom: 50px;
}

.content,
.content ul {
  background-color: #FFCDAF;
  list-style: none;
  margin-left: auto;
  margin-right: 25px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
}

.content p, .content h4 {
  margin: 20px;
  padding: 10px;
}

.img-rot {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}


