body {  background-color: #efe;
        font: 12px/1.6 helvetica, arial, sans-serif, #963;
        text-align: center; 
        list-style: none;
      }
p {   color: black;
    }
header {   
  background-color: #339966;
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;

}
.nav {
  background-color: #efe;     // pale green 
  padding: 0  

}
.nav ul {
  list-style: none;
  border-top: 5px solid #7c7;
  margin: 0;

}
.nav ul li {
  display: inline-block;
  border: 3px solid #7c7;
  margin: 5px 10px;
  border-radius: 15px
  
}
.nav a {
   text-decoration: none; 
   font-size: 20px;
   margin: 15px;

}  
.content ul{
  background-color: #efe;
  font: 12px/1.6 helvetica, arial, sans-serif, #963;
  text-align: center; 
  list-style-position: inside;
  position: relative;
}
.listbox {
  height: 100px;
  width: 1000px;
  position: relative;
  list-style: none;
}
/.listbox ul li 
 list-style-position: inside;
 margin: 0;
 padding: 0;
