* {
	box-sizing: border-box;
}
body {
  margin: 0;
}
body:before {
  	content: '';
    display: block;
    background: #67b26f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4ca2cdd1, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4ca2cdd1, #67b26f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
h2 {
	text-align: center;
}
.container{
	display: flex;
  	align-items: center;
  	justify-content: center;
  	position: relative;
	min-height: 100vh;
	max-width: 550px;
    width: 100%;
    margin: 0 auto;

}
.nav {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.nav ul {
  	display: flex;
  	width: 100%;
  	padding-left: 0;
	  list-style: none;
  	align-items: center;
  	justify-content: space-evenly; 
}

.nav-link {
	 display: block;
    width: 5.75rem;
    height: 2.25rem;
    line-height: 2.25rem;
    padding: 0 1.125rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.625em;
    font-family: 'Lato';
    letter-spacing: 0.075rem;
    font-weight: 300;
    border-radius: 0.375rem;
    text-decoration: none;

    border: solid 1px #D1D1D1;
}

.main {
	font-family: 'Arial', sans-serif;
	font-family: 'Lato', sans-serif;
	background: #fff;
  text-align: center;
  min-width: 100%;
   width: 95vw;

}
.footer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.work {
  text-align: left;
}
.inside {
	padding: 1rem;
}

.inactive {
  height: 0;
  opacity: 0;
  transition: opacity 0.5s ease 0s,height 1s ease 0s;
  display: none;
}

.active {
  display: block;
  height: auto;
  opacity: 1;
  transition: opacity 1s ease 0s,height 1s ease 0s;

}

/*section {
	display: none;
	z-index: -10;
  opacity: 0;
  transition: opacity 1s ease 0s,transform 1s ease 0s;
}*/

@media (min-width: 500px) {
  .main{
    width: 32rem; 
    padding: 0;
  }
 .inside {
    padding: 3rem;
  }
}